* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* body {
  margin: 0;
  font-family: "AileronLight", sans-serif;
  background-color: rgba(3, 23, 16, 0.088);
}
* body ol, * body ul {
  list-style: none;
}
* body h1, * body h2, * body h3, * body h4, * body h5, * body h6 {
  font-size: 100%;
  font-weight: normal;
  color: rgb(62, 62, 62);
}
* body img, * body picture, * body svg, * body video {
  display: block;
  width: 100%;
  height: auto;
}
* body a {
  text-decoration: none;
}
* body button {
  background-color: transparent;
  border: none;
}

@font-face {
  font-family: AileronLight;
  src: url(../../assets/fonts/Aileron-Light.otf);
}
@font-face {
  font-family: AileronRegular;
  src: url(../../assets/fonts/Aileron-Regular.otf);
}
@font-face {
  font-family: AileronBold;
  src: url(../../assets/fonts/Aileron-Bold.otf);
}
.header .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 14px;
  height: 122px;
  background-color: white;
}
.header .nav .nav--logo__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 68px;
  border-bottom: 1px solid rgb(216, 216, 216);
}
.header .nav .nav--logo__wrapper .nav--logo__img {
  height: 34px;
  width: auto;
}
.header .nav .nav--pages__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
}
.header .nav .nav--pages__wrapper .nav--pages {
  display: flex;
}
.header .nav .nav--pages__wrapper .nav--pages .nav--pages__list-item {
  padding: 8px calc(2px + 1dvw);
}
.header .nav .nav--pages__wrapper .nav--pages .nav--pages__list-item .pages--list-item__link {
  font-size: calc(16px + 0.2dvw);
  color: rgb(103, 103, 103);
  position: relative;
}
.header .nav .nav--pages__wrapper .nav--pages .nav--pages__list-item .pages--list-item__link::after {
  content: " ";
  position: absolute;
  width: 0%;
  height: 2px;
  display: block;
  transition: all 0.4s ease;
  bottom: -20%;
}
.header .nav .nav--pages__wrapper .nav--pages .nav--pages__list-item .pages--list-item__link:hover::after {
  width: 100%;
  height: 2px;
  background-color: #00421f;
}

.header .hero {
  display: flex;
  padding: 128px 64px;
}
@media (max-width: 1280px) {
  .header .hero {
    padding: 108px 32px;
  }
}
@media (max-width: 1000px) {
  .header .hero {
    padding: 88px 32px;
  }
}
@media (max-width: 600px) {
  .header .hero {
    padding: 72px 32px;
  }
}
@media (max-width: 414px) {
  .header .hero {
    padding: 56px 14px;
  }
}
.header .hero .hero--wrapper {
  display: flex;
  width: 100%;
}
@media (max-width: 1000px) {
  .header .hero .hero--wrapper {
    flex-direction: column-reverse;
  }
}
.header .hero .hero--wrapper .hero--content__wrapper {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 0px 24px;
}
@media (max-width: 1000px) {
  .header .hero .hero--wrapper .hero--content__wrapper {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .header .hero .hero--wrapper .hero--content__wrapper {
    padding: 0px 8px;
  }
}
@media (max-width: 414px) {
  .header .hero .hero--wrapper .hero--content__wrapper {
    padding: 0px;
  }
}
.header .hero .hero--wrapper .hero--content__wrapper .hero--content__circles {
  display: flex;
  padding-bottom: calc(36px + 0.8dvw);
}
@media (max-width: 1280px) {
  .header .hero .hero--wrapper .hero--content__wrapper .hero--content__circles {
    padding-bottom: calc(24px + 0.4dvw);
  }
}
.header .hero .hero--wrapper .hero--content__wrapper .hero--content__circles .content--circles__img {
  width: calc(70px + 4dvw);
  height: auto;
  margin-right: 26px;
}
@media (max-width: 1000px) {
  .header .hero .hero--wrapper .hero--content__wrapper .hero--content__circles .content--circles__img {
    display: none;
  }
}
.header .hero .hero--wrapper .hero--content__wrapper .hero--content__circles .content--circles__img:last-of-type {
  margin-right: 0px;
}
.header .hero .hero--wrapper .hero--content__wrapper .hero--content__title {
  font-size: calc(16px + 0.6dvw);
  line-height: calc(24px + 1.2dvw);
  color: rgb(27, 28, 31);
}
.header .hero .hero--wrapper .hero--content__wrapper .hero--content__text {
  font-size: calc(16px + 0.6dvw);
  line-height: calc(24px + 1.2dvw);
  color: rgb(27, 28, 31);
}
.header .hero .hero--wrapper .hero--content__wrapper .hero--content__link {
  display: flex;
  align-items: center;
  width: fit-content;
  color: rgb(27, 28, 31);
  font-size: calc(13px + 0.2dvw);
  font-family: "AileronBold";
  text-transform: uppercase;
  border-bottom: 1px solid #00421f;
  margin-top: calc(36px + 0.8dvw);
}
@media (max-width: 1000px) {
  .header .hero .hero--wrapper .hero--content__wrapper .hero--content__link {
    margin-top: calc(24px + 0.4dvw);
  }
}
.header .hero .hero--wrapper .hero--content__wrapper .hero--content__link:hover {
  transform: scale(1.1);
}
.header .hero .hero--wrapper .hero--img__wrapper {
  padding: 0px 24px;
  width: 50%;
}
@media (max-width: 1000px) {
  .header .hero .hero--wrapper .hero--img__wrapper {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .header .hero .hero--wrapper .hero--img__wrapper {
    padding: 0px 8px;
  }
}
@media (max-width: 414px) {
  .header .hero .hero--wrapper .hero--img__wrapper {
    padding: 0px;
  }
}
.header .hero .hero--wrapper .hero--img__wrapper .hero--img {
  display: flex;
  max-width: 880px;
  height: auto;
}

.info__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  background-color: rgb(6, 46, 33);
  margin: 24px 0px;
}
@media (max-width: 1000px) {
  .info__wrapper {
    flex-direction: column;
    max-height: fit-content;
  }
}
.info__wrapper .info--img__wrapper {
  display: flex;
  max-width: 50%;
}
@media (max-width: 1000px) {
  .info__wrapper .info--img__wrapper {
    max-width: 100%;
  }
}
.info__wrapper .info--img__wrapper .info--img {
  width: 100%;
  display: flex;
}
.info__wrapper .info--content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 86px;
  max-width: 50%;
}
@media (max-width: 1280px) {
  .info__wrapper .info--content__wrapper {
    padding: 48px 68px;
  }
}
@media (max-width: 1000px) {
  .info__wrapper .info--content__wrapper {
    max-width: 100%;
    padding: 86px 56px;
  }
}
@media (max-width: 600px) {
  .info__wrapper .info--content__wrapper {
    padding: 64px 32px;
  }
}
@media (max-width: 414px) {
  .info__wrapper .info--content__wrapper {
    padding: 56px 14px;
  }
}
.info__wrapper .info--content__wrapper .info--content__title {
  color: rgb(216, 216, 216);
  font-size: calc(16px + 0.6dvw);
  line-height: calc(24px + 1.2dvw);
  margin-bottom: 8px;
}
.info__wrapper .info--content__wrapper .info--content__text {
  color: rgb(216, 216, 216);
  font-size: calc(14px + 0.4dvw);
  line-height: calc(19px + 0.9dvw);
}

.price-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(27, 28, 31);
  padding: 128px 64px;
  margin: 24px 0px;
}
@media (max-width: 1280px) {
  .price-list {
    padding: 108px 32px;
  }
}
@media (max-width: 1000px) {
  .price-list {
    padding: 88px 32px;
  }
}
@media (max-width: 600px) {
  .price-list {
    padding: 72px 32px;
  }
}
@media (max-width: 414px) {
  .price-list {
    padding: 56px 14px;
  }
}
.price-list .price-list--info__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 24px;
}
.price-list .price-list--info__wrapper .info--content {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.price-list .price-list--info__wrapper .info--content .info--content__text {
  color: rgb(216, 216, 216);
  font-size: calc(16px + 0.6dvw);
}
.price-list .price-list--info__wrapper .info--content .info--content__contact-us {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: calc(12px + 0.1dvw);
  text-transform: uppercase;
  color: rgb(216, 216, 216);
  border: 1px solid rgb(216, 216, 216);
  border-radius: 24px;
  padding: 8px 24px;
  margin-top: 38px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.437);
}
.price-list .price-list--info__wrapper .info--content .info--content__contact-us:focus {
  transform: scale(0.96);
}
@media (max-width: 1000px) {
  .price-list .price-list--info__wrapper .info--content {
    width: 100%;
  }
}
.price-list .price-list--services__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 1000px) {
  .price-list .price-list--services__wrapper {
    padding: 24px 0px;
  }
}
@media (max-width: 1000px) {
  .price-list .price-list--services__wrapper {
    flex-direction: column;
  }
}
.price-list .price-list--services__wrapper .price-list--services {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 24px;
}
@media (max-width: 1000px) {
  .price-list .price-list--services__wrapper .price-list--services {
    width: 100%;
    padding: 0px;
  }
}
.price-list .price-list--services__wrapper .price-list--services .price-list--service {
  display: flex;
  flex-direction: column;
  padding: 12px 0px;
  border-bottom: 1px solid rgb(103, 103, 103);
  width: 100%;
  position: relative;
}
.price-list .price-list--services__wrapper .price-list--services .price-list--service .price-list--service__number {
  position: absolute;
  left: 0px;
  top: 8px;
  color: rgb(103, 103, 103);
  font-size: calc(12px + 0.1dvw);
}
.price-list .price-list--services__wrapper .price-list--services .price-list--service .price-list--service__name {
  color: rgb(216, 216, 216);
  padding-left: 48px;
  font-size: calc(14px + 0.4dvw);
}
.price-list .price-list--services__wrapper .price-list--services .price-list--service .price-list--service__button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 6px;
  position: absolute;
  right: 9px;
}
.price-list .price-list--services__wrapper .price-list--services .price-list--service .price-list--service__button .fa-chevron-down, .price-list .price-list--services__wrapper .price-list--services .price-list--service .price-list--service__button .fa-times {
  color: rgb(216, 216, 216);
}
.price-list .price-list--services__wrapper .price-list--services .price-list--service .price-list--service__button .fa-chevron-down {
  display: flex;
}
.price-list .price-list--services__wrapper .price-list--services .price-list--service .price-list--service__button .fa-times {
  display: none;
}
.price-list .price-list--services__wrapper .price-list--services .price-list--service .price-list--service__button.active .fa-chevron-down {
  display: none;
}
.price-list .price-list--services__wrapper .price-list--services .price-list--service .price-list--service__button.active .fa-times {
  display: flex;
}
.price-list .price-list--services__wrapper .price-list--services .price-list--service .service--expand__wrapper {
  display: none;
}
.price-list .price-list--services__wrapper .price-list--services .price-list--service .service--expand__wrapper .service--expand {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 8px 12px 8px 24px;
  border-bottom: 1px solid rgb(43, 43, 43);
}
@media (max-width: 600px) {
  .price-list .price-list--services__wrapper .price-list--services .price-list--service .service--expand__wrapper .service--expand {
    padding: 8px;
  }
}
.price-list .price-list--services__wrapper .price-list--services .price-list--service .service--expand__wrapper .service--expand .service--expand__name {
  color: rgb(216, 216, 216);
  font-size: calc(13px + 0.2dvw);
}
.price-list .price-list--services__wrapper .price-list--services .price-list--service .service--expand__wrapper .service--expand .service--expand__price {
  color: rgb(216, 216, 216);
  font-size: calc(13px + 0.2dvw);
  padding-left: 12px;
}
.price-list .price-list--services__wrapper .price-list--services .price-list--service .service--expand__wrapper .service--expand:nth-child(odd) .service--expand__name {
  color: #a3a5a8;
}
.price-list .price-list--services__wrapper .price-list--services .price-list--service .service--expand__wrapper .service--expand:nth-child(odd) .service--expand__price {
  color: #a3a5a8;
}
.price-list .price-list--services__wrapper .price-list--services .price-list--service .service--expand__wrapper.active {
  flex-direction: column;
  width: 100%;
  display: flex;
  margin: 24px 0px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(27, 28, 31);
  padding: 68px 88px;
}
@media (max-width: 1280px) {
  .footer {
    padding: 56px;
  }
}
@media (max-width: 1000px) {
  .footer {
    flex-direction: column-reverse;
  }
}
@media (max-width: 600px) {
  .footer {
    padding: 56px 32px;
  }
}
@media (max-width: 414px) {
  .footer {
    padding: 56px 14px;
  }
}
.footer .footer__wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .footer .footer__wrapper {
    margin-top: 64px;
    width: 100%;
  }
}
.footer .footer__wrapper .footer--img__wrapper .footer--img {
  width: 180px;
  height: auto;
  margin-bottom: 38px;
}
@media (max-width: 600px) {
  .footer .footer__wrapper .footer--img__wrapper .footer--img {
    margin-bottom: 24px;
  }
}
.footer .footer__wrapper .footer--nav .nav--pages {
  width: fit-content;
  display: flex;
  border-bottom: 1px solid rgb(103, 103, 103);
  flex-wrap: wrap;
}
.footer .footer__wrapper .footer--nav .nav--pages .nav--pages__list-item {
  padding: 0px 12px 6px 0px;
}
.footer .footer__wrapper .footer--nav .nav--pages .nav--pages__list-item .pages--list-item__link {
  color: #a3a5a8;
  font-size: 18px;
}
.footer .footer__wrapper .footer--nav .nav--pages .nav--pages__list-item .pages--list-item__link:hover {
  color: rgb(216, 216, 216);
}
.footer .footer__wrapper .footer--nav .nav--pages .nav--pages__list-item:last-of-type {
  padding: 0px 0px 6px 0px;
}
.footer .footer__wrapper .footer--icon__wrapper {
  display: flex;
  margin-top: 38px;
}
.footer .footer__wrapper .footer--icon__wrapper .footer--icon {
  max-width: 54px;
  height: auto;
  padding-right: 12px;
}
.footer .footer--contact-us {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media (max-width: 1000px) {
  .footer .footer--contact-us {
    width: 100%;
  }
}
.footer .footer--contact-us .footer--contact-us__title {
  color: rgb(216, 216, 216);
  font-size: calc(16px + 0.6dvw);
}
.footer .footer--contact-us .footer--contact-us__link {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: calc(12px + 0.1dvw);
  text-transform: uppercase;
  color: rgb(216, 216, 216);
  border: 1px solid rgb(216, 216, 216);
  border-radius: 24px;
  padding: 8px 24px;
  margin-top: 38px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.437);
}
@media (max-width: 1000px) {
  .footer .footer--contact-us .footer--contact-us__link {
    margin-top: 24px;
  }
}
.footer .footer--contact-us .footer--contact-us__link:focus {
  transform: scale(0.96);
}

/*# sourceMappingURL=index.css.map */
