.header {
  .hero {
    display: flex;
    padding: 64px;

    @media (max-width: 1280px) {
      padding: 64px 32px;
    }
    @media (max-width: 600px) {
      padding: 56px 48px;
    }
    @media (max-width: 414px) {
      padding: 56px 14px;
    }

    .hero--wrapper {
      display: flex;
      width: 100%;

      @media (max-width: 1000px) {
        flex-direction: column-reverse;
      }

      .hero--content__wrapper {
        display: flex;
        width: 50%;
        flex-direction: column;
        padding: 0px 24px;

        @media (max-width: 1000px) {
          width: 100%;
        }
        @media (max-width: 600px) {
          padding: 0px 8px;
        }
        @media (max-width: 414px) {
          padding: 0px;
        }

        .hero--content__circles {
          display: flex;
          padding-bottom: calc(36px + 0.8dvw);

          @media (max-width: 1280px) {
            padding-bottom: calc(24px + 0.4dvw);
          }

          .content--circles__img {
            width: calc(70px + 4dvw);
            height: auto;
            margin-right: 26px;

            @media (max-width: 1000px) {
              display: none;;
            }
          }

          .content--circles__img:last-of-type {
            margin-right: 0px;
          }
        }

        .hero--content__title {
          font-size: $font-size-big;
          line-height: $font-line-height-big;
          color: $color-almost-black;
        }

        .hero--content__text {
          font-size: $font-size-big;
          line-height: $font-line-height-big;
          color: $color-almost-black;
        }

        .hero--content__link {
          display: flex;
          align-items: center;
          color: $color-almost-black;
          font-size: $font-size-small;
          font-family: "AileronBold";
          text-transform: uppercase;
          margin-top: calc(36px + 0.8dvw);

          @media (max-width: 1000px) {
            margin-top: calc(24px + 0.4dvw);
          }
        }
      }

      .hero--img__wrapper {
        padding: 0px 24px;
        width: 50%;

        @media (max-width: 1000px) {
          width: 100%;
        }
        @media (max-width: 600px) {
          padding: 0px 8px;
        }
        @media (max-width: 414px) {
          padding: 0px;
        }

        .hero--img {
          display: flex;
          max-width: 880px;
          height: auto;
        }
      }
    }
  }
}
