.info__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  background-color: $color-dark-green;
  margin: 24px 0px;

  @media (max-width: 1000px) {
    flex-direction: column;
    max-height: fit-content;
  }

  .info--img__wrapper {
    display: flex;
    max-width: 50%;

    @media (max-width: 1000px) {
      max-width: 100%;
    }

    .info--img {
      width: 100%;
      display: flex;
    }
  }
  .info--content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 86px;
    max-width: 50%;

    @media (max-width: 1280px) {
      padding: 48px 68px;
    }
    @media (max-width: 1000px) {
      max-width: 100%;
      padding: 86px 56px;
    }
    @media (max-width: 600px) {
      padding: 64px 32px;
    }
    @media (max-width: 414px) {
      padding: 56px 14px;
    }

    .info--content__title {
      color: $color-almost-white;
      font-size: $font-size-big;
      line-height: $font-line-height-big;
      margin-bottom: 8px;
    }
    .info--content__text {
      color: $color-almost-white;
      font-size: $font-size-medium;
      line-height: $font-line-height-medium;
    }
  }
}
