$color-almost-black: rgb(27, 28, 31);
$color-grey: rgb(103, 103, 103);
$color-grey-from-logo: #a3a5a8;
$color-almost-white: rgb(216, 216, 216);
$color-green-from-logo: #00421f;
$color-dark-green: rgb(6, 46, 33);