@font-face {
    font-family: AileronLight;
    src: url(../../assets/fonts/Aileron-Light.otf);
}

@font-face {
    font-family: AileronRegular;
    src: url(../../assets/fonts/Aileron-Regular.otf);
}

@font-face {
    font-family: AileronBold;
    src: url(../../assets/fonts/Aileron-Bold.otf);
}

$font-size-big: calc(16px + 0.6dvw);
$font-size-medium: calc(13px + 0.2dvw);
$font-size-small: calc(12px + 0.2dvw);

$font-line-height-big: calc(24px + 1.2dvw);
$font-line-height-medium: calc(18px + 0.8dvw);